<!DOCTYPE html>
<html>
<body>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/path/to/jquery.ui.addresspicker.js"></script>
{% block gmap_address_widget %}
{%endblock%}</body>
</html>