{# empty Twig template #}
<html>
    <head>
        <link rel="stylesheet" href="{{asset('bundles/application/css/styleProfil.css')}}">
    </head>
    <body>
        {%block contenu%}
        {%endblock%}
    </body>
</html>